.pof-content-wrapper{
	position: relative;
	background: linear-gradient(-45deg,rgba(135,5,91,.2),transparent 70%),linear-gradient(45deg,rgba(35,2,23,.5) 20%,rgba(79,5,55,.5),rgba(35,2,23,.5) 80%),linear-gradient(50deg,rgba(35,2,23,.8) 10%,rgba(79,5,55,.7),rgba(35,2,23,.8) 90%);
	border: 2px solid transparent;
	border-image: url('../img/pof-content-border.png') 2 round;
}

.pof-mask{
	position: relative;
	width: 100%;
	width: 100%;
	z-index: 1;
	background-color: rgba(0,0,0, .3);
}

.pof-text{
	color: $pof-font-color-light;
	z-index: 2;
}