
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "pof-content";

@import "_nav";
@import "_footer";
@import "_index";

body{
	background: $main-background-color;
}

.text{
	font-family: 'Vollkorn SC', serif;
}

.text-center {
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.flex-full{
	display: flex;
	width: calc(100% * (10 / 12));
	margin: auto;
}

.flex-half{
	display: flex;
	width: calc(50% * (10 / 12));
	margin: auto;
}

.flex-fourth{
	display: flex;
	width: calc(25% * (10 / 12));
	margin: auto;
}